{% extends './base.html'%}

{% block css %}
{% endblock %}

{% block contentTitle %}
Dashboard
{% endblock %}

{% block content %}
<!--CONTENT-->
<div class="container-fluid col-11 concor" style=" padding: 30px 0px; ">
    <!--COURSE-->
    <div class="content-course" style="padding: 20px 10px;">
        <div class="course-header h2">
            Course<a href="course/input"><button type="button" class="btn btn-success" style="float: right;">Create Course</button></a>
        </div>
        </div>
        <hr>
        <!--COURSE CONTENT-->
        <div class="course-content" style="max-height: 400px; border: 1px solid #ddd; display: flex; overflow-x: auto; padding: 30px;">
            <a href="course/1">
                <div class="card" style="width: 18rem; ">
                    <img src="{{url_for('static', filename='images/cb1.png')}}" class="card-img-top" alt="..." style="max-height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Psychology and Design Thinking</h5>
                    </div>
                </div>
            </a>
            <a href="course/2">
                <div class="card" style="width: 18rem;">
                    <!-- <div class="pic"> -->
                    <img src="{{url_for('static', filename='images/cb2.png')}}" class="card-img-top" alt="..." style="max-height: 10rem;">
                    <!-- </div> -->
                    <div class="card-body">
                        <h5 class="card-text">Coding and Big Data</h5>
                    </div>
                </div>
            </a>
            <a href="course/3">
                <div class="card" style="width: 18rem;">
                    <img src="{{url_for('static', filename='images/cb3.jpg')}}" class="card-img-top" alt="..." style="max-height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Database System</h5>
                    </div>
                </div>
            </a>
            <a href="course/4">
                <div class="card" style="width: 18rem;">
                    <img src="{{url_for('static', filename='images/cb4.jpg')}}" class="card-img-top" alt="..." style="max-height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Integrative Survival Experience</h5>
                    </div>
                </div>
            </a>
            <a href="course/5">
                <div class="card" style="width: 18rem;">
                    <img src="{{url_for('static', filename='images/b5.jpg')}}" class="card-img-top" alt="..." style="max-height: 10rem;">
                    <div class="card-body">
                        <h5 class="card-text">Object Oriented and Visual Programming</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!--NOTEBOARD-->
    <div class="content-noteboard" style="padding: 20px 10px; margin: 20px 0;">
        <div class="noteboard-header h2">
            Noteboard
        </div>
        <hr>
        <div class="noteboard-content" style="background-color: white;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
                <li class="list-group-item"></li>
            </ul>
        </div>
    </div>
    <!--END NOTEBOARD-->
</div>
<style>
    .course-content a {
        text-decoration: none;
        color: black;
    }

    .course-content a:hover,
    .course-content a:focus {
        text-decoration: underline;
    }

    body.dark .home .course-content a:hover,
    body.dark .home .course-content a:focus {
        text-decoration: underline white;
    }

    .card {
        min-width: 250px;
        line-height: 250px;
        text-align: center;
        background-color: #ddd;
        margin: 0 10px;
    }
</style>
{% endblock %}