{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/login.css">
{% endblock %}

{% block title %}
Log In
{% endblock %}

{% block content %}

<div class="container">
    <form method="POST">
        <div class="container-form">
            <div class="title">
                <h3>Log In</h3>
            </div>
            <div class="input">
                <div class="row-mb-3">
                    <div class="col-6">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required autocomplete="off" />
                    </div>
                </div>
                <div class="row-mb-3">
                    <div class="col-6">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required />
                    </div>
                    <span class="alert">
                        {% for message in get_flashed_messages() %}
                        {{ message }}
                        {% endfor %}
                    </span>
                </div>
            </div>
            <br />
            <div class="submit">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" value="Log In" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
{% endblock %}