{% extends './base.html'%}

{% block css %}
{% endblock %}

{% block contentTitle %}
Courses
{% endblock %}

{% block content %}
<div class="container" style="padding: 0;">
    <div class="row" style="background-color: white; margin-bottom: 20px; border-radius: 10px; padding: 20px 10px;">
        <div class="course-header-title" style="margin-bottom: 20px;">
            <h2>{{ cData["courseName"] }}</h2>
        </div>
        <div class="course-header-body">
            <div class="container" style="padding: 5px;">
                {{ cData["courseDescription"] |safe }}
            </div>

            <div class="row">
                <a href="#">
                    <div class="teacher" style="padding: 5px; padding-right: 20px; float: right;">
                        <span style="margin-right: 10px;">{{lecturer["firstName"]}} {{lecturer["lastName"]}}</span>
                        <i class="bx bx-user icon" style="border: 2px solid grey; border-radius: 50%;"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: white; border-radius: 10px; padding: 20px 10px;">
        {%for row in content%}
        {%if row["type"] == 0%}
        <div class="row" style="background-color: white; border-radius: 10px; padding: 20px 10px;">
            <div class="course-content">
                <div class="noteboard-header h4">
                    {{row["contentTitle"]}}
                </div>
                <hr>
                <div class="noteboard-content" style="background-color: white;">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> {{row["contentBody"]}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}